@model ChequeCreator.ViewModels.ChequeViewModel

@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Here is your cheque</h2>

<div>
    <h4>Cheque details</h4>
    
    <div style="display: inline-block; border: solid 1px red;">
        <table width="800px">
            <tbody>
                <tr>
                    <td>General Bank of Australia</td>
                    <td style="width: 300px;"><span>Date</span> @Html.DisplayFor(model => model.IssueDate)</td>
                </tr>
                <tr>
                    <td><span>Pay</span> @Html.DisplayFor(model => model.DollarAmountInWords)</td>
                    <td>@Html.TextBoxFor(model => model.DollarAmountInCurrency, new { @readonly = "readonly" })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(model => model.PayeeName)</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<p>
    @Html.ActionLink("create new cheque", "Index")
</p>
